{{ define "main" -}}

<div class="home">
  <h1>guitarrapc on github</h1>
  <h2>Links</h2>
  <h3>Resume</h3>
  <ul>
    <li>日本語 : <a href="https://guitarrapc.github.io/logs/resume/">https://guitarrapc.github.io/logs/resume/</a></li>
    <li>English : <a href="https://guitarrapc.github.io/logs/en/resume/">https://guitarrapc.github.io/logs/en/resume/</a></li>
  </ul>
  <h3>Blogs</h3>
  <ul>
    <li><a href="http://tech.guitarrapc.com/">tech.guitarrapc.com</a>(tech)</li>
  </ul>

  <h3>Accounts</h3>
  <ul>
    <li>Twitter : <a href="https://twitter.com/guitarraoc_tech">@guitarrapc_tech</a></li>
    <li>Facebook : <a href="https://www.facebook.com/yoshizaki.ikiru">https://www.facebook.com/yoshizaki.ikiru</a></li>
    <li>GitHub : <a href="https://github.com/guitarrapc">https://github.com/guitarrapc</a></li>
    <li>Speaker Deck : <a href="https://speakerdeck.com/guitarrapc">https://speakerdeck.com/guitarrapc</a></li>
    <li>LinkedIn : <a href="http://www.linkedin.com/in/ikiru-yoshizaki">http://www.linkedin.com/in/ikiru-yoshizaki</a></li>
    <li>Wantedly : <a href="https://www.wantedly.com/users/35070975">https://www.wantedly.com/users/35070975</a></li>
  </ul>

  <h3>Contact</h3>
  <ul>
    <li>Twitter</li>
    <li>LinkedIn</li>
    <li>Wantedly</li>
    <li>OR email : resume _at_ guitarrapc.com</li>
  </ul>

  <h3>Applications</h3>
  <ul>
    <li>MSBuild Custom Task: <a href="https://github.com/guitarrapc/SwapTasks">SwapTasks</a></li>
    <li>S3Sync : <a href="https://github.com/guitarrapc/S3Sync">S3Sync</a></li>
    <li>DSC Resources : <a href="https://github.com/guitarrapc/GraniResource">GraniResource</a></li>
    <li>AzureFunctions C# : <a href="https://github.com/guitarrapc/AzureFunctionsIntroduction">AzureFunctionsIntroduction</a></li>
    <li>AWSLambda C# : <a href="https://github.com/guitarrapc/AWSLambdaCSharpIntroduction">AWSLambdaCSharpIntroduction</a></li>
  </ul>
</div>

<div class="posts">
{{ range .Data.Pages -}}
<div class="post">
  <h2>Logs</h2>
  <h3 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  {{ .Summary }}
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}
</div>
{{- end }}
</div>
{{- end }}